node_modules/**/*
.expo/*
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
web-report/

# macOS
.DS_Store

#ignore android emulater config for buhamad
android/local.properties
android/gradle.properties
android/build
android/app/build
android/.gradle/
.idea
.gradle
local.properties
*.iml
/android/
